.DetalheEsteira {
    display: flex;
    background: #054f75;
    border-radius: 1vw;
    flex-wrap: wrap;
}
.DetalheEsteira .Componente{
    margin: 2%;
    color: white;
    display: flex;
    flex-direction: column;
}
.metade{
    width: 45%;
}
.full{
    width: 100%;
}
.DetalheEsteira .butoons{
    justify-content: center;
}
.css-2b097c-container{
    margin-top: 3px;
}
