#Esteira{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#Esteira .ListaPropostas{
    height: 50%;
}
#Esteira .contentEsteira{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: -webkit-fill-available;
}