body{background: white; font-family: Arial, Helvetica, sans-serif;}

#container{display: flex;}


.navTempo{background: #054f75; color: white; padding: 5px; min-height: 20px;}
.esqueletoTempo{flex-grow: 1; max-height: 40px; margin: 0 1px;}
.navTempo div.esquerda{float: left;}
.navTempo div.direita{float: right;}
.navTempo span{margin: 5px;}

.esqueletoPerfil{width: 20vw; max-height: 40px;}
.navPerfil{min-height: 30px; margin-right: 8px;  display: flex;}
.navPerfil a{background: #054f75; color: white; font-size: 28px }
.navPerfil span{background: #054f75; color: white; font-size: 11px; padding: 7px; width: -webkit-fill-available; text-align: center;}
.navPerfil a.exit{float: right;}
/* .navPerfil{  background: #054f75; color: white; padding: 5px; min-height: 20px; margin-right: 8px; max-height: 20px;} */
.navPerfil a.material-icons.sair{float: right;}


/* position: absolute; left: 1077px; top: 0; */

#NavFuncionalidades{ width: 12.5vw; height: 100vh; background: #054f75; color: white; padding: 5px; min-height: 20px; margin-left: 8px; }
#NavFuncionalidades img{width: 160px; margin: 5px;}
#PesquisaFuncionalidades{background-color: #3f8bb7; padding: 4px; border-radius: 3px; padding: 3px; display: flex; border-radius: 3px; justify-content: flex-end;}
#PesquisaFuncionalidades input{border-radius: 9px; width: 4vw; background-color: #3f8bb7; border: solid 2px #044f76; outline: none; text-align: center; color: white; transition: 1s;}
#PesquisaFuncionalidades input:focus{width: 100%; transition: 1s;}

/* uso de figurinhas */
.material-icons.branco { color: rgba(255, 255, 255, 1); }

.conteudo{background: #0176a1; color: white; padding: 1px; height: 30px; margin-top: 1px;}
.conteudo input{height: -webkit-fill-available; width: 35%; float: right; text-align: center; font-size: 7pt;}
.conteudo button{height: -webkit-fill-available; width: 10%; background: #fff212; margin-left: 1px; float: right; color: #0176a1; font-size: 7pt;}
.conteudo button:hover{background: #ece215; color: white;}


.navIcones{min-height: 30px; margin-right: 8px;  display: flex;}
.navIcones a{background: #0176a1; color: white; font-size: 31px; text-align: center; flex-grow: 1; margin:1px 1px 0 0;}
.navIcones a:last-child{margin-right: 0;}
.navIcones a:hover{color: #29b7eb;}




.esqueletoFuncionalidades{width: 14vw; height: 100vh; }