#IconeIncluir{
    margin-right: 2%;
    background-color: yellow;
    height: 26px;
    display: flex;
    align-items: center;
    width: 29px;
    justify-content: center;
    border-radius: 25px;
    font-size: 28px;
    cursor: pointer;
}
#IconeIncluir a{
    color: black;
}
#IconeIncluir:hover{
    opacity: 0.8;
}