#Esteira .ListaPropostas{
  height: 80%;
  margin-top: 2vh;
}
.ListaPropostas {
  overflow: overlay;
  height: 90%;
}
.ListaPropostas table{
  border-collapse: collapse;
  width: 98%;
  margin: 0 8px 16px 0;
}
#acoes {
  width: 118px;
}
#acoes button {
  margin-left: 5px;
}
.ListaPropostas table th,
.ListaPropostas table td {
  letter-spacing: 1.1px;
  border: 1px solid black;
  border-width: 0 0 1px 0;  
  padding: 8px 0;
  background-color: transparent;
  color: inherit;
  text-align: center;
}
.ListaPropostas table tr:nth-child(even) {
  background-color: #F3F3F3;
}
.ListaPropostas table tr:nth-child(odd) {
  background-color: white;
}
.ListaPropostas table tr {
  background-color: white;
  color: black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ListaPropostas table tr:hover {
  /* color: #fff212; */
  background-color: #E3F7FE;
  cursor: pointer;
}
.ListaPropostas table tr:active {
  color: black;
  background-color: yellowgreen;
  cursor: pointer;
}
.ListaPropostas table th {
  color: black;
  /* background-color: #d1d0d0; */
  background-image: linear-gradient(#C1BFBF, #FFFFFF);
  cursor: auto;
  font-size: 16px;
  font-weight: bolder;
}
.ListaPropostas table td {
  font-weight: bold;
  font-size: 0.7vw;
}

.ListaPropostas .nome {
  font-size: 70% !important;
}
