.ListaPropostas {
  overflow: overlay;
  height: 90%;
}
.alunos {
  border-collapse: collapse;
  width: 98%;
  margin: 0 8px 16px 0;
}
#acoes {
  width: 118px;
}
#acoes button {
  margin-left: 5px;
}
.alunos th,
.alunos td {
  letter-spacing: 1.1px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.alunos tr:nth-child(even) {
  background-color: #f3f3f3;
}
.alunos tr:nth-child(odd) {
  background-color: white;
}
.alunos tr {
  background-color: white;
  color: black;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.alunos tr:hover {
  color: #fff212;
  cursor: pointer;
}
.alunos tr:active {
  color: black;
  background-color: yellowgreen;
  cursor: pointer;
}
.alunos th,
.alunos td {
  background-color: transparent;
  color: inherit;
}
.alunos th {
  color: black;
  background-color: #d1d0d0;
  cursor: auto;
  font-size: 16px;
  font-weight: bolder;
}
.alunos td {
  font-weight: bold;
  font-size: 0.7vw;
  color: #000000d3;
  /* FONT-SIZE: small; */
}
.alunos th,
.alunos td {
  border-width: 0 0 1px 0;
  text-align: left;
}
.ListaPropostas .nome {
  font-size: 70% !important;
}
