.PopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #cc6a6a44; */
    background: #b9b3b344;
}
.PopUpConteudo{
    left: 15%;
    top: 15%;
    right: 2%;
    z-index: 1000;
    position: absolute;
}
.PopUpConteudo .atributoForm{
    margin: 8px 0 0 !important;
    height: 8.5vh;
}
.PopUpConteudo .atributoForm .metade{
    width: 47%;
}
.PopUpConteudo .atributoForm textarea{
    margin-bottom: 0;
    border-radius: 0;
}
/* #Conteudo .PopUpConteudo .css-sw16in-container{
    width: 80%;    
} */
/* .PopUpConteudo .dIdentificacao div{
    padding: 0;
    margin: 6px 2px;
}
.PopUpConteudo .CadastroPropostas .atributoForm{
    height: 8vh;  
}
.PopUpConteudo input, .PopUpConteudo select{
    margin-top: 0 !important; 
    height: 5vh !important;
}
.PopUpConteudo .CadastroPropostas .atributoForm{
    height: fit-content;
} */