.CadastroPropostas {
  padding: 8px;
  overflow: overlay;
  height: 70vh;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* border-radius: 1vw; */
  color: #6E6E6E;
  font-weight: bold;
  font-style: italic;
  justify-content: space-between;
  border: solid 1px #707070;
}
.camposPrincipais {
  width: 100%;
}
.CadastroPropostas .observacoes {
  width: 100%;
  height: 40%;
}
.CadastroPropostas .visivel {
  display: flex !important;
}
.CadastroPropostas textarea {
  padding: 8px;
}

.CadastroPropostas .atributoForm {
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: inherit;
}
.CadastroPropostas .atributoForm .css-2b097c-container {
  margin-top: 3px;
}
.CadastroPropostas .atributoForm .css-yk16xz-control {
  border-color: #a1c9d8;
}
.CadastroPropostas .atributoForm .css-1wa3eu0-placeholder {
  color: #C2C2C2;
}
.CadastroPropostas .atributoForm .css-tlfecz-indicatorContainer {
  background: #F3F3F3;
}
.CadastroPropostas .atributoForm .css-6q0nyr-Svg {
  color: #a1c9d8;
}
.CadastroPropostas .atributoForm .css-1okebmr-indicatorSeparator {
  margin: 0;
}
.CadastroPropostas .atributoForm select {
  border: solid 1px #00000054;
  height: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 3px;
}
.CadastroPropostas .atributoForm textarea {
  margin-top: 1vh;
  height: 15vh;
  outline: none;
  border-radius: 1vw;
}
.CadastroPropostas .atributoForm .dataEmissao {
  height: 25%;
  width: 93%;
  border-radius: 1.2vw;
  font-size: 1.7em;
  font-weight: normal;
  font-style: normal;
  outline: none;
  padding: 5px;
}
.CadastroPropostas .atributoForm textarea, .CadastroPropostas .atributoForm .dataEmissao {
  border: solid 1px #a1c9d8;
}
.CadastroPropostas .quaseMetade {
  width: 40%;
}
.CadastroPropostas .maisDaMetade {
  width: 60%;
}
.CadastroPropostas .tudoPossivel {
  width: -webkit-fill-available;
}
.CadastroPropostas .metade {
  width: 50%;
}
.CadastroPropostas .umTerco {
  width: 30%;
}
.CadastroPropostas .umQuarto {
  width: 25%;
}
.CadastroPropostas .umSexto {
  width: 16%;
  font-size: 1vw;
}
.CadastroPropostas .ultimo {
  /* margin-top: 3vh; */
}
.CadastroPropostas .full {
  width: 100%;
  display: flex;
  height: 15vh;
}
.CadastroPropostas .spaceBetween {
  justify-content: space-between;
}
.CadastroPropostas .flex {
  display: flex;
  flex-wrap: wrap;
}
/* .situacao {
  color: #ffff00d4;
} */
.status {
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.CadastroPropostas .infoEmprestador {
  margin-right: 2.3%;
}
.botaoesEStatus {
  padding: 1vh 3vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(#c1bfbf, #ffffff);
}
.butoons {
  display: flex;
    width: 50%;
    justify-content: flex-end;
}
.butoons:last-child{
  margin-right: 2vw;  
}
.butoons button {
  color: white;  
  width: 9vw;
  padding: 1vh;
  border-radius: 1vh;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2vw;
  outline: none;
  border: none;
  transition: 1s;
}
.butoons button:hover {
  background: white;
  cursor: pointer;
  width: 70%;
}
.butoons button.gravar {
  background: #22D13A;
  margin: 0;
}
.butoons button.cancelar {
  background: #F63737;
  margin: 0;
}
.butoons .underButton {
  width: 9vw;
    background: white;
    margin-right: 1vw;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.butoons .underButton:hover {  
    border-radius: 0;
    border-top-left-radius: 1vw;
}
.butoons .underButton .material-icons.verde {      
    color: #22D13A;
}
.butoons .underButton .material-icons.vermelho {      
    color: #F63737;
}
.butoons .underButton .material-icons {  
    /* display: none; */
    font-size: 0;
    margin-right: 2px;
    transition: 550ms;
}
.butoons .underButton:hover .material-icons {  
    /* display: block; */
    font-size: 27px;
}
.CadastroPropostas .atributoForm .ClientesActions{
  display: flex;
  align-items: center;
  border: solid 1px #a1c9d8;
  background: yellow;
}
.CadastroPropostas .atributoForm .ClientesActions .actions .material-icons{
  border-right: solid 2px;
  padding: 5px;
}
.CadastroPropostas .atributoForm .ClientesActions .actions .material-icons:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.274);
}
.CadastroPropostas .atributoForm .ClientesActions .actions{
  width: 21%;
  display: flex;
  justify-content: space-between;
}
.CadastroPropostas .atributoForm .ClientesActions .css-2b097c-container, .CadastroPropostas .atributoForm .ClientesActions .css-2b097c-container{
  margin: 0;
}
.CadastroPropostas .atributoForm .ClientesActions div.css-2b097c-container{
  width: 90% !important;
}
.CadastroPropostas .atributoForm .ClientesActions .css-sw16in-container{
  width: 90% !important;
}
.CadastroPropostas .atributoForm .ClientesActions .css-yk16xz-control{
  border: none;
  border-radius: 0;
}
.CadastroPropostas .atributoForm textarea{
  margin-bottom: 2vh;
}
/* .CadastroPropostas .atributoForm .ClientesActions .actions .material-icons{
  background: #FFF212;
} */

