#TabelaDetalhada table {width: 100%; border: 1px #ffffff; text-align: center; font-size: 12px; font-family: 'Arial'; color: #A9A9A9; }

#TabelaDetalhada thead {background: #35bae8; color: #054f75;
     }
#TabelaDetalhada tbody{ }     
