#Clientes{
    width: 100%;
}


#alunos{border-collapse: collapse; width: 100%; margin: 16px 8px 16px 0;}
#acoes{width: 118px;}
#acoes button{margin-left: 5px;}
#alunos th, #alunos td{border: 1px solid black; padding: 8px; text-align: center; }
#alunos tr:nth-child(even){background-color: #f2f2f2;}
#alunos tr {background-color: #054f75; color: white;}
#alunos tr:hover { color: #fff212;}
#alunos th, #alunos td{ background-color: transparent; color: inherit; }
#alunos th {color: white}