#NavTemp{background: #054f75; color: white; padding: 5px; 
    max-height: 20px; flex: 1; display: flex; justify-content: space-between;
    margin-left: 1px; min-width: 298px; font-size: small;
}
#NavTemp div{display: inline; }
#NavTemp div p.material-icons{margin: 0 0.2vw; font-size: 17px;
    height: 100%;
}
/* #NavTemp div:first-child{margin-right: 5px;} */
/* :first-child */
@media only screen and (max-width: 1000px) {
    #NavTemp{ font-size: x-small;}
    #NavTemp span{margin-top: 0.6vh;}        
}
@media only screen and (max-width: 846px) {
    #NavTemp{ font-size: x-small;}
    #NavTemp span{margin-top: 0;}
    #NavTemp div p.material-icons{font-size: 12px;
        height: 70%;}
            
}
@media only screen and (max-width: 842px) {
    #NavTemp div p.material-icons{margin-left: 32%;}
}
/* @media only screen and (max-width: 1080px) {
    #NavTemp span{margin-top: 0.6vh;}    
} */