.CaixasProcedimentos img{
    width: 92px; 
    
}


#CaixasCliente {  width: 100%; 
    display: flex; 
    border: solid #c0c0c0;
    border-width: 0px 0px 1px 0px;  
}


#Procedimento {width: 40%; 
    display: flex;
    border: solid #c0c0c0;
    border-width: 0px 1px 1px 1px;
    border-radius: 4px;
    margin: 3px;
    padding: 3px 3px 0px 6px;
}


.CaixasProcedimentos { background-color: red; 
     width: 24% ; 
     border-radius: 4px 4px 4px 4px;
     height: 44px;
     margin: 2px 4px 0px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.CaixasProcedimentos:hover{
    cursor: pointer;
    opacity: 0.8;
}

.CaixasProcedimentos:nth-child(1) { background-color:#1eb082;}
.CaixasProcedimentos:nth-child(2) {background-color: #ed3c44;}
.CaixasProcedimentos:nth-child(3) {background-color: #f7ae69;}
.CaixasProcedimentos:nth-child(4) {background-color: #c6778d;}



#BordaSuperior {
     border-style: solid;    
     border-width: 0 0 1px 0;
     width: 99%;
     margin-bottom: 5px;
     color: #c0c0c0;
     }
 #Funcionalidades {
     width: 60%; 
     height: 50%; 
     padding: 9px;
     display: inline-block;
}
 
#Beneficiario {
    display: flex;
    justify-content: space-between; 
}
 #Beneficiario p { display: inline-block;
     font-family: 'Arial';
     font-size: 32px;
     font-weight: normal;
     color: #0176a1;}
 
 .caixa { 
      display: inline-block;
      margin: 0 0 3px 3px;
      padding: 2px;
      text-align: left;
      border: #c0c0c0 solid 1px; 
      border-top-width: 0px;
      width: 101px; 
      height: 55px;
      text-align: center;
      font-family: 'Arial';
      font-size: 13px;
      font-weight: normal;
      color:#C0C0C0;
      border-radius: 0px 0px 4px 4px;
     }
.caixa:nth-child(1){
    margin: 0 0 3px 0;
}
.caixa:nth-child(7) {
    font-size: 1em;
    margin: 0 0 3px 0;
}
.caixa:nth-child(7) p.Respostas{
    font-size: 0.6em;
}
.especificacoes{
    display: flex;
    flex-wrap: wrap;
}
 
 .caixa p {text-align: left; margin-left: 5px;}  
 
.Respostas {
    color:#5c5c5c; 
    margin-top: 11px;
    /* display: flex;
    flex-direction: column; */
}
 #SIM { margin-top: 11px; color: #52c256;}


 #MargemEmprestimo {
     display: flex; 
     background-color: #54c358;
     border-radius: 4px;
     margin-right: 5%;
}
.MargemSimulacao{
    display: flex;    
}
 #MargemCartão {display: flex; width: 47%;}
 
 #Margem1 {
    padding: 4px;
     background-color: white;
     border: 1px; 
     border-style: solid; 
     border-color: #54c358; 
     border-top-left-radius: 3px; 
     border-bottom-left-radius: 3px;
     text-align: left;   
 }
 #Margem1 p{
    font-size: 0.8em;
    font-family: 'Verdana';
    color: #adadad;
    margin: 0px 0px 10px 0px;
 }

 #Margem1 p:nth-child(2), #Margem2 p:nth-child(2) { color: #5c5c5c;}


 
 #Margem2 {padding: 4px;
     background-color: white;
     border: 1px; 
     border-style: solid; 
     border-color: #f9aa4e; 
     border-top-left-radius: 3px; 
     border-bottom-left-radius: 3px;
     text-align: left;
      }
    
#Margem2 p {font-size: 0.8em;
    font-family: 'Verdana';
    color: #adadad;
    margin: 0px 0px 10px 0px;}   

      
 /* #Margem1, #Margem2 p { font-family: 'Verdana'; font-size: 0.9em; font-weight: normal; color: #adadad;} */
 
 .ValorLiberado {font-family: 'Arial';
     font-size: 15px;
     font-weight: normal;
     color: #5c5c5c;}
 .Liberado {margin-bottom: 7px;}
 
 
 #Liberado1 {
    padding: 4px;
    display: flex;
    flex-direction: column;
     border-style: solid; 
     border-color: #54c358; background-color: #54c358;
     border-top-right-radius: 3px; 
     border-bottom-right-radius: 3px;     
     font-size: 13px
 }
 #Liberado1 p {text-align: center; font-family: 'Arial'; color: white; margin: 2px 2px 6px 2px;}
 
 #Liberado2 {
    padding: 4px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #f9aa4e;
    background-color: #f9aa4e;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
 }
 #Liberado2 p {text-align: center;
    font-family: 'Arial';
    color: white;
    margin: 2px 2px 6px 2px;
}