#BordaSuperior {border-style: solid;
     border-bottom-width: 1px;
     border-top-width: 0;
     border-right-width: 0;
     border-left-width: 0;
     width: 89%;
     margin-bottom: 5px;
     color: #c0c0c0;
     }
 #Funcionalidades {width: 50%; height: 50%; padding: 9px; display: inline-block;}
 
 #Beneficiario {justify-content: space-between; }
 #Beneficiario p { display: inline-block;
     font-family: 'Arial';
     font-size: 32px;
     font-weight: normal;
     color: #0176a1;}
 
 
 
 
 .caixa { display: inline-block;
      margin-left: -3px;
      margin-bottom: 3px;
      padding: 2px;
      text-align: left;
      border: #c0c0c0 solid 1px; border-top-width: 0px;
      width: 17%; height: 49px;
      text-align: center;font-family: 'Arial';
      font-size: 13px;
      font-weight: normal;
      color:#C0C0C0;
      border-radius: 0px 0px 4px 4px;
     }
 
 .caixa p {text-align: left; margin-left: 5px;}  
 
 .Respostas {color:#5c5c5c; margin-top: 11px;}
 #SIM { margin-top: 11px; color: #52c256;}
 
 #MargemEmprestimo {display: flex; width: 47%;}
 #MargemCartão {display: flex; width: 47%;}
 
 #Margem1 {
     border: 1px; 
     border-style: solid; 
     border-color: #54c358; 
     border-top-left-radius: 3px; 
     border-bottom-left-radius: 3px;
     width: 72%; height: 45px;
     text-align: left;   
 }
 
 #Margem2 {border: 1px; 
     border-style: solid; 
     border-color: #f9aa4e; 
     border-top-left-radius: 3px; 
     border-bottom-left-radius: 3px;
     width: 72%; height: 45px;
     text-align: left; }
 #Margem1, #Margem2 p { font-family: 'Verdana'; font-size: 15px; font-weight: normal; color: #adadad;}
 
 .ValorLiberado {font-family: 'Arial';
     font-size: 15px;
     font-weight: normal;
     color: #5c5c5c;}
 .Liberado {margin-bottom: 7px;}
 
 
 #Liberado1 {display: inline-block;
     border-style: solid; 
     border-color: #54c358; background-color: #54c358;
     border-top-right-radius: 3px; 
     border-bottom-right-radius: 3px;
     width: 26%; height: -1%;
     font-size: 13px
 }
 #Liberado1 p {text-align: center; font-family: 'Arial'; color: white; margin: 2px 2px 2px 2px;}
 
 #Liberado2 {
     border-style: solid; 
     border-color: #f9aa4e; background-color:#f9aa4e;
     border-top-right-radius: 3px; 
     border-bottom-right-radius: 3px;
     width: 26%; height: -1%;
     text-align: left; font-family: 'Arial'; color: white;
     font-size: 13px
 }
 #Liberado2 p {text-align: center; font-family: 'Arial'; color: white; margin: 2px 2px 2px 2px;}